.item{
    min-height: 20rem;
    min-width: 20rem;
    padding: 40px;
    text-align: center;
}

.item img{
    width: 85%;
    height: 70%;
    border-radius: 2rem;
    pointer-events: none;
    margin-bottom: 1rem;
}

.inner-carousel{
    display: flex;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}
.baslik {
    text-align: center;
    color : rgb(173, 230, 181);
    margin-top: 5px;
}
.parag{
    width: 100%;
    height: 15%;
}
.scheduler-baslik{
    text-align: center;
    color : blue;
    margin-top: 5px;
}